
<div>
  I am on video page now!
  <%= link_to "Destroy connection", video_path(id: @client.id), method: :delete %>
</div>
<video autoplay></video>
<img id="returned-photo" src="" width="700px" height="395px">
<script>
$( document ).on('turbolinks:load', function() {
  const video = document.querySelector('video');
  navigator.mediaDevices.getUserMedia({video: {width: 100, height: 56}, audio: true}).then((stream) => video.srcObject = stream);

  const getFrame = () => {
    const canvas = document.createElement('canvas');
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;
    canvas.getContext('2d').drawImage(video, 0, 0);
    const data = canvas.toDataURL('image/jpeg');
    return data;
  }
  const img = document.getElementById("returned-photo");
  const WS_URL2 = 'wss://www.downlink.online/cable';
  const ws = new WebSocket(WS_URL2);

  const FPS = 3;
  let msg;
  msg = {
    command: 'subscribe',
    identifier: JSON.stringify({
      channel: 'VideoChannel',
    }),
  };
  ws.onopen = () => {
    console.log('Connected to ${WS_URL}');
    ws.send(JSON.stringify(msg));
    setInterval(() => {
      msg = {
        command: 'message',
        identifier: JSON.stringify({
          channel: "VideoChannel",
        }),
        data: JSON.stringify({
          action: 'handle_messages',
          image: getFrame(),
          receiver_id: <%= @client.id %>,
        }),
      };
      ws.send(JSON.stringify(msg));
    }, 1000 / FPS);
  }
});
</script>
