<% if logged_in? %>
  <div class="cards-live">
    <% @users.each do |usr| %>
      <% if usr.id != current_user.id %>
        <div class="card-live">
            <% if usr.profile_picture.nil? == false %>
              <div class="image-card-live">
                <%= image_tag(usr.profile_picture.to_s, width: '150', height:'150', class:"profile-rounded") %>
              </div>
            <% else %>
              <div class="image-card-live">
                <%= image_tag("https://d2x5ku95bkycr3.cloudfront.net/App_Themes/Common/images/profile/0_200.png", width:'150', height: '150', class:"profile-rounded") %>
              </div>
            <% end %>
            <div class="name-card-live-outer">
              <div class="name-card-live">
                <%= usr.first_name %> <%= usr.last_name %>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
