<% if logged_in? %>
  <div class="cards-live">
    <% @users.each do |usr| %>
      <div class="card-live">
        <% if usr.id != current_user.id %>
          <% if usr.profile_picture.nil? == false %>
            <div class="image-card-live">
              <%= image_tag(usr.profile_picture.to_s, width: '200', height:'200', class:"profile-rounded") %>
            </div>
          <% else %>
            <div class="image-card-live">
              <%= image_tag("https://d2x5ku95bkycr3.cloudfront.net/App_Themes/Common/images/profile/0_200.png", width:'200', height: '200', class:"profile-rounded") %>
            </div>
          <% end %>
          <div class="name-card-live">
            <%= usr.first_name %> <%= usr.last_name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
