<%= form_for :session, url: {action: "create"} do |f| %>

  <div class="form-outer">
   <div class="forming">
     <div class="forming-header">
       Login to your account
     </div>
     <div class="form-contents">
       <div class="form-individual">
         <%= f.text_field :user_name, class:"big-inputting", placeholder:"Username" %>
       </div>
       <div class="form-individual">
         <%= f.password_field :password, class:"big-inputting", placeholder:"Password" %>
       </div>
       <div class="form-individual">
         <%= f.submit "Log In", class:"submitting" %>
       </div>
     </div>
   </div>
 </div>
<% end %>
