/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.containing {
  color: teal;
  height: 95vh;
  width: 93vw;
  margin: 0px;
  padding: 20px 40px;
  font-family: 'Titillium Web', sans-serif;
  position: relative;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.7s ease;
  padding: 10px 15px;
  margin-right: 20px;
  border-bottom: 4px solid transparent;
}
.nav-item:hover {
  border-bottom: 4px solid orange;
  box-shadow: 4px 8px 15px #666;
  background-color: white;
  color: orange;
  cursor: pointer;
}
.nav-link {
  text-decoration: none;
  color: teal;
  font-size: 32px;
}
.nav-link-1 {
  text-decoration: none;
  color: teal;
}
.nav-item:hover .nav-link {
  color: orange;
}
.form-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.forming
{
  width: 30vw;
  height: auto;
  box-shadow: 3px 6px 12px #aaa,-3px -6px 12px #aaa ;
  font-family: "Titillium Web";
}
.forming-header {
  background-color: rgb(68,68,68);
  color: rgb(110,110,110);
  padding: 24px 20px;
  text-transform: uppercase;
  font-family: "Titillium Web";
}
.centering {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items: center;
}
.big-inputting {
  height: 30px;
  padding: 5px 15px;
  font-size: 16px;
  width: 93%;
  border: 0px;
  border-bottom: 1px solid lightgrey;
  color: teal;
}
.big-inputting:focus {
  border-bottom: 1px solid orange;
}
.big-inputting:focus {
  outline: none;
}
.form-contents {
  padding: 0px 30px;
}
.form-individual {
  margin-bottom: 15px;
}
.form-individual:first-child{
  margin-top: 15px;
}

.submitting {
  background-color: rgb(24,154,175);
  color: white;
  font-size: 19px;
  padding: 5px 12px;
  transition: all 0.6s;
  box-shadow: 3px 5px 7px #bbb;
  border: 0px;
  border-radius: 2px;
  font-family: "Titillium Web";

}
.submitting:hover {
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 6px 10px 14px #bbb;
}
.submitting:focus {
  outline: none;
}
.submitting:active {
  box-shadow: 3px 5px 7px #333;
  transform: scale(1);
}

.white-glassy{
  padding: 0px 0px;
  opacity:0.75;
  background-color: rgb(250,250,250);
  color: teal;
  border: 1px solid teal;
  box-shadow: 2px 4px 7px #888;
  border-radius: 6px;
  width: 30vw;
  margin-top: 25px;
  margin-bottom: 7px;
}
.white-glassy:focus {
  opacity: 1;
}
.white-glassy-intro {
  padding: 10px 22px;
}
.white-glassy-intro h3{
  margin-block-start: 0 !important;
}
.thinner {
  display: inline-block;
}
.bottom-separation {
  border-bottom: 1px solid #055a5a;
}
.ln1 {
  font-size:19px;
  display:flex;
}
.ln2 {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.ln3 {
  background-color: teal;
}
.ln1:hover {
  background-color:teal;
  color: white;
  .nav-link-1 {
    color:white;
  }
}
.whitechat{
  height: 70vh;
  width: 70vw;
  background-color: white;
  color: teal;
  margin-top: 30px;
  padding: 20px 40px;
  border: 1px solid teal;
  box-shadow: 3px 7px 15px #888;
}
.messages-display{
  overflow: scroll;
}
.not-logged-in {
  padding: 17px 30px;
}
.messages-input-field {
  font-size: 30px;
  height: 35px;
  border: 1px solid teal;
  border-radius: 10px;
  padding: 10px 25px;
  font-family: "Titillium Web";
  color: teal;
  width: 75%;
  box-shadow: 3px 6px 8px #555;
}
.messages-display {
  height: 76%;
}
.inner-messages {
  padding-left: 20px 15px;
}
.messages-input-field:focus {
  outline: none;
}
.messages-input-button {
  background-color: teal;
  color: white;
  font-size: 25px;
  font-family: "Titillium Web";
  transition: all 0.5s;
  margin-left: 20px;
  border: 0px;
  border-radius:5px;
  padding: 10px 20px;
  box-shadow: 3px 6px 8px #333;
}
.messages-input-button:hover {
  cursor: pointer;
  transform: scale(1.35);
  box-shadow: 7px 15px 25px #222;
}

.message-boxing {
background-image: linear-gradient(to bottom, #FFF100, #FFAC00, #FFAC00, #FFF100);
  padding-right: 25px;
  padding-left: 55px;
  padding-top:27px;
  padding-bottom: 27px;
  display: flex;
  color: teal;
  font-family: "Titillium Web";
  font-size: 25px;
clip-path: polygon(30px 0, 100% 0, 100% 100%, 0 100%, 30px 80%);
  flex-wrap: wrap;
  margin-bottom: 12px;
  border-radius: 9px;
  -webkit-clip-path: polygon(30px 0, 100% 0, 100% 100%, 0 100%, 30px 80%);
  position: relative;
}
.message-boxing-audio{
  padding: 8px 10px;
  margin-left: 20px;
  border: 1px solid #bbb;
  box-shadow: 3px 8px 12px #aaa;
  display:flex;
  align-items: center;
  background-color: rgb(225,225,225);
}
.message-boxing-audio .message-body{
  display: inline-block;
}
.message-boxing-video{
  padding: 8px 10px;
  box-shadow: 3px 8px 12px #bbb;
  display:flex;
  position: relative;
}
.message-boxing-video-outer{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 75px 100%, 75px 100px, 0 58px);
  margin-left: 20px;
  background-color: rgb(245,245,245);
}
.message-timing {
  position: absolute;
  top: -8px;
  right: 0px;
  background-color: transparent;
  padding: 9px 7px 0px 7px;
  border-radius: 25px;
  color: grey;
  font-size:16px;
}
.message-body audio {
  width: 450px;
}
.message-body audio:focus {
  outline: none;
}
.message-body video {
  width: 300px;
  height: 300px;
}
.message-body video:focus {
  outline: none;
}
.message-wrap {
  filter: drop-shadow(4px 8px 15px #555);
  display: flex;
}
.message-outer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 33px;
}
.messages-of-others .message-boxing{
  background-image: linear-gradient(to bottom, #2182ed, #234dad, #234dad, #2182ed);
    padding-right: 25px;
    padding-left: 55px;
    padding-top:27px;
    padding-bottom: 27px;
    display: flex;
    color: #ccc;
    font-family: "Titillium Web";
    font-size: 25px;
  clip-path: polygon(0 0, calc(100%-30px) 0, calc(100%-30px) calc(100%-30px), 100% 100%, 0px 100%);
    flex-wrap: wrap;
    margin-bottom: 12px;
    border-radius: 9px;
    -webkit-clip-path: polygon(0 0, calc(100%-30px) 0, calc(100%-30px) calc(100%-30px), 100% 100%, 0px 100%);
    position: relative;
    top:0;
    right:0;
}
.messages-of-others .message-timing {
  position: absolute;
  top: -8px;
  right: 0px;
  background-color: transparent;
  padding: 9px 7px 0px 7px;
  border-radius: 25px;
  color: #ccc;
}
.messages-of-others .message-boxing-audio .message-timing {
  color: grey;
}
.messages-of-others .message-boxing-video .message-timing {
  color: grey;
}
.griddy {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
#intro {
  grid-area: 1/1/2/2;
}
#history {
  grid-area: 1/2/2/3;
}
#online {
  grid-area: 1/3/2/4;
}
.white-glassy-password {
  padding: 10px 22px;
}
.white-glassy-password h3{
  margin-block-start: 0 !important;
}
.white-glassy-password .big-inputting {
  background-color: rgb(251,251,251);
}
.white-glassy-name {
  padding: 10px 22px;
}
.white-glassy-name h3{
  margin-block-start: 0 !important;
}
.white-glassy-name .big-inputting {
  background-color: rgb(251,251,251);
}
.profile-picture {
  border-radius: 50%;
  border: 3px solid teal;
  box-shadow: 3px 6px 12px #aaa;
}
.flash-header {
  background-image: linear-gradient(to bottom, #28E367, #A8EB12);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-radius: 8px 8px 0px 0px;
}
.flash-outer {
  width: 35vw;
  font-family: "Titillium Web";
  color: #666;
  box-shadow: 1px 2px 13px #888, -1px -2px 13px #888;
  border-radius: 8px;
}
.flash-message {
  padding: 12px 20px;
  letter-spacing: 1.5px;
}
.flash-exit {
  cursor:pointer;
  font-size: 20px;
  color: #666;
}
.background-green-online {
  padding: 5px 15px;
  background-image:linear-gradient(to bottom, #ceff86, #2bb846);
  color: #fff;
}
#online2 {
  width: 70vw;
  margin-top: 25px;
  border: 1px solid teal;
  padding: 15px 0px;
  box-shadow: 3px 7px 14px #555;
}
.online2-outer{
  display:flex;
  justify-content: center;
  align-items:center;
}
.online-table td{
  border-bottom: 1px solid #bbb;
}
div[id^="user_"] {
  padding: 5px 20px;
}
.form-chatroom {
  width: 90%;
  display: inline-block;
}
#record:hover {
  cursor: pointer;
}
#recordVideo:hover {
  cursor: pointer;
}
.messages-input {
  display: flex;
  align-items:center;
}
.navbar-mobile {
  display:none;
}
.super-menu {
  display:none;
}
.cards-live{
  display:flex;
  flex-wrap: wrap;
  margin: 35px 10px 35px 10px;
}
.card-live {
  border-radius: 13px;
  box-shadow: 4px 8px 16px #777;
  flex-basis: 47%;
  margin-right: 30px;
  margin-bottom: 30px;
  height: 185px;
  padding-bottom: 14px;
  display: flex;
}
.card-inner-buttons {
  display: inline-block;
}
.profile-rounded {
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 2px 4px 8px #888;
}
.image-card-live {
  display: inline-block;
  height: 100%;
  background-color: rgb(234, 109, 111);
  padding: 14px 22px 0px 22px;
  border-radius: 13px 0px 0px 13px;
}
.name-card-live {
  font-size: 30px;
  color: #777;
  display:inline-block;
}
.name-card-live-outer {
  display:flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 25px 10px 25px 10px;
}
.receiving-video {
  border: 4px solid #33B8FF;
  box-shadow: 4px 8px 17px #555;
  border-radius: 11px;
}
.sending-video {
  border: 4px solid #FF5733;
  box-shadow: 4px 8px 17px #555;
  border-radius: 11px;
  margin-right: 30px;
}
.both-videos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.sending-video-header {
  font-size:28px;
  color: #ddd;
  width: 100%;
  padding: 10px -1px 10px 25px;
  background-image: linear-gradient(to bottom,#FF5733,#701010);
}
.receiving-video-header {
  font-size:28px;
  color: #ddd;
  width: 100%;
  padding: 10px -1px 10px 25px;
  background-image: linear-gradient(to bottom,#33B8FF,#114285);
}
.inner-receiving-video-header {
  display: flex;
  align-items: center;
  padding: 18px 23px;
}
.inner-receiving-video-header .profile-rounded {
  margin-right: 18px;
}
.inner-sending-video-header {
  display: flex;
  align-items: center;
  padding: 18px 23px;
}
.inner-sending-video-header .profile-rounded {
  margin-right: 18px;
}
.experimental-messages {
  display:none;
}
.online-users-home-page{
  font-size: 20px;
  padding: 5px 20px;
}
#online{
  max-height: 475px;
}
#online .white-glassy-intro{
  padding: 0px;
}
#online tr:hover {
  background-color: lightgreen;
  cursor: pointer;
}
.online-users-home-page-wrapper {
  display:flex;
}
#online table {
  width: 100%;
  border-spacing: 0px 5px;
  padding-bottom: 10px;
}
.online-table {
  max-height: 100px;
  overflow: auto;
}
#online h3 {
  padding-left: 20px;
}
#online p {
  padding: 0px 20px 6px 20px;
  border-bottom: 1px solid #ccc;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.online-heading-logo {
  margin-top: 25px;
  margin-left: 25px;
}
.online-logo {
  display:none;
}
.online-span {
  color:white;
  background-color:lightgreen;
  padding:5px 13px;
  border:1px solid teal;
  box-shadow: 2px 6px 10px #666;
  display: none;
}
.hidden-user{
  display:none;
}

.online-notification-bar-wrapper {
  display: none;
}
.online-notification-bar {
  background-image: linear-gradient(to bottom, #00b0ff, #134a9c);
  color: #666;
  padding: 10px 20px 10px 10px;
  border-radius: 50px;
  border: 3px solid #00FFFF;
  font-size: 25px;
  font-family: "Titillium Web";
  align-items: center;
  width: 60px;
  overflow: hidden;
  max-height: 60px;
  align-content: top;
  display: none;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1500;
}
.online-notification-bar img{
  margin-right: 7px;
}
.online-notification-bar .inner-text{
  color: #eee;
  display: block;
  min-width: 300px;
  max-width: 800px;
  margin-left:5px;
}
.private-message-box {
  background-image: linear-gradient(180deg, rgba(255,167,184,1) 0%, rgba(250,11,58,1) 43%, rgba(250,11,58,1) 58%, rgba(255,167,184,1) 100%);
  display: flex;
  padding: 25px 25px 10px 35px;
  color: #eee;
  border: 1px solid #888;
  font-size: 20px;
  border-radius: 6px;
  position: relative;
  z-index: 3;
}
.private-message-outer {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  margin-left: 15px;
  position: relative;
  clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%, 15px 80%);
  -webkit-clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%, 15px 80%);
}
.private-message-drop-shadow {
  filter: drop-shadow(3px 5px 15px #444);
}
.private-message-all {
  margin-bottom: 15px;
  filter: drop-shadow(3px 5px 15px #444, 3px -3px 15px #444);
}
.private-message-image-box {
  display: flex;
}
.private-message-timing {
  position: absolute;
  top: -8px;
  right: 0px;
  background-color: transparent;
  padding: 9px 7px 0px 7px;
  border-radius: 25px;
  color: white;
  font-size:16px;
  z-index: 5;
}
.private-message-others .private-message-box{
  background-image: linear-gradient(to bottom,blue,lightblue);
  display: flex;
  padding: 25px 25px 10px 35px;
  color: #eee;
  clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%, 15px 80%);
  -webkit-clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%, 15px 80%);
  font-size: 20px;
  border-radius: 6px;
  min-width: 121px;
}
.private-message-others .private-message-bubble {
  background-color: #aeadff;
  height: 44%;
  top: -3px;
}
.private-messages-container {
  height: 90vh;
  border: 1px solid #ccc;
  overflow: scroll;
  padding: 7px 12px 7px 12px;
}
.private-message-input {
  font-size: 21px;
  height: 50px;
  padding: 0px 22px 0px 0px;
  border: 0px;
  color: #999;
  outline: none;
  border-radius: 25px;
  display: flex;
  flex-basis: 100%;
}
.private-message-button {
  height: 50px;
  font-size: 20px;
  padding: 8px 25px;
  background-color: lightgreen;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
}
.private-message-bubble {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 40%;
  border-radius:20%;
  background-color: #fbaeae;
  opacity:0.65;
  z-index: 2;
}
.private-message-rounded-send {
  width: 70%;
  display:flex;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin-top: 12px;
  padding-left: 30px;
  margin-bottom: 30px;
}
#private_record:hover {
  cursor: pointer;
}
#private_recordVideo:hover {
  cursor: pointer;
}
.private-message-send {
  display: none;
}
.private-message-rounded-send .private-message-send {
  display: flex;
}

@media only screen and (max-width: 480px)
{
  .message-boxing{
    font-size: 20px;
    padding: 25px 5px 25px 35px;
    margin-left: -20px;
  }
  .nav-link {
    font-size: 37px;
  }
  .whitechat{
    height: 75vh;
    width: 96%;
    padding: 20px 5px;
    margin-top: 3px;
  }
  .message-body audio {
    width: 260px;
  }
  .message-body video {
    width: 260px;
  }
  #online2 {
    width: 96%;
  }
  .message-outer{
    padding: 20px 0px;
  }
  .containing{
    padding: 10px 5px;
    width: 97vw;
  }
  .white-glassy {
    width: 100%;
  }
  .griddy {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  #intro {
    grid-area: 1/1/2/2;
  }
  #history {
    grid-area: 2/1/3/2;
  }
  #online {
    grid-area: 3/1/4/2;
  }
  .forming
  {
    width: 92%;
    height: auto;
    box-shadow: 3px 6px 12px #aaa,-3px -6px 12px #aaa ;
    font-family: "Titillium Web";
  }
  .flash-outer {
    width: 92%;
  }
  body {
    margin: 8px 0px;
  }
  .profile-picture {
    height: 70px;
    width: 70px;
  }
  .messages-input-button {
    margin-left: 0px;
    padding: 10px 10px;
  }
  .messages-input{
    display: block;
  }
  #new_message{
    width: 100%;
    display: flex;
  }
  .messages-input-field {
    width: 85%;
    padding: 10px 3px;
  }
  .navbar {
    display:none;
  }
  .navbar-mobile{
    display:flex;
    z-index: 10;
    position: fixed;
    top: 0px;
    right: 0px;
  }
  .rounded-mobile-menu{
    padding: 8px 8px;
    font-size: 40px;
    height: 50px;
    width: 50px;
    color: lightgreen;
    background-image: linear-gradient(to right bottom, #008cff, #124678);
    border-radius: 50%;
    box-shadow: 3px 7px 14px #666;
    border: 4px solid white;
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Titillium Web";
  }
  .label-menu-checkbox .menu-cont {
    height: 3px;
    background-color: #fff;
    margin: 2px 0;
    border-radius: 3px;
  }
  .menu-cont {
    flex-basis: 70%;
  }
  .menu-times {
    display: none;
  }
  .not-logged-in-wrap{
    margin-top: 85px;
  }
  .user-info{
    margin-top: 85px;
  }
  #menu-checkbox:checked ~ .super-menu{
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 99.7vh;
    width: 99.7vw;
    z-index: 20;
    background-color: white;
  }
  #menu-checkbox:checked + .label-menu-checkbox .menu-times{
    display: block;
  }
  #menu-checkbox:checked + .label-menu-checkbox .menu-cont{
    display: none;
  }
  .label-menu-checkbox{
    z-index: 25;
  }
  .navbar-mobile {
    height: 100%;
  }
  .super-menu-item {
    display:block;
  }
  .message-wrap {
    filter: none;
  }
  .messages-of-others .message-boxing {
    padding-top: 18px;
    padding-bottom: 5px;
    margin-left: 0px;
    padding-left: 34px;
    margin-bottom: 1px;
  }
  .message-boxing-video-outer{
    clip-path: none;
  }
  .message-boxing {
    margin-left: 0px;
    padding-top: 18px;
    padding-bottom: 5px;
    margin-bottom: 1px;
    clip-path: polygon(10px 0, 100% 0, 100% 100%, 0 100%, 10px 80%);
    -webkit-clip-path: polygon(10px 0, 100% 0, 100% 100%, 0 100%, 10px 80%);
    min-width: 137px;
  }
  .message-body {
    font-size: 16px;
  }
  .message-body video {
    width: 363px;
  }
  .message-outer {
    padding: 3px 0px;
  }
  .message-wrap .profile-picture {
    display:none;
  }
  .message-boxing-video img {
    display:none;
  }
  .message-boxing-video {
    box-shadow: none;
    border: 1px solid #ddd;
  }
  .message-boxing-audio {
    box-shadow: none;
    border: 1px solid #ddd;
    margin-left: 0px;
    position: relative;
  }
  .message-body audio {
    width: 363px;
  }
  .message-boxing-audio img{
    display: none;
  }
  .message-boxing-video-outer {
    margin-left: 0px;
  }
  .messages-input-button {
    display: none;
  }
  .private-message-send {
    display: inline-block;
  }
  .private-messages-container {
    height: 60vh;
  }
  .private-message-drop-shadow {
    filter: none;
  }
  .private-message-all {
    margin-bottom: 2px !important;
    margin-left: 2px !important;
    margin-top: 2px !important;
    filter: none;
  }
  .private-message-box {
    border: none;
    font-size: 16px;
    min-width: 121px;
  }
  .private-message-others .private-message-box {
    font-size: 16px;
    border: none;
  }
  .private-message-all .private-message-others {
    margin-top: 2px !important;
    margin-left: 2px !important;
    margin-bottom: 2px !important;
  }
  .containing {
    height: 81vh;
  }
  .profile-picture {
    box-shadow: none;
  }
  .card-live {
    height: 275px;
  }
}
@media only screen and (max-width: 360px)
{
  .message-body audio {
    width: 310px;
  }
  .message-body video {
    width: 310px;
  }
  .private-messages-container {
    height:67vh;
  }
  .containing {
    width: 107vw;
    height: 81vh;
  }
  .private-message-rounded-send{
    width: 94%;
  }
}
