<div class="griddy">
  <div class="white-glassy">
    <div class="white-glassy-intro" id="intro">
      <input type="password" placeholder="Password" />
      <h3>Change your password</h3>
      <p>You can change your password here. It is recommended to change your password every 3 months.</p>
      <p>Caution: Do not share your password with anyone or write it in the chatrooms, group or private chats</p>
    </div>
  </div>
  <div class="white-glassy">
    hey here i am now
  </div>
</div>
