<div class="online-notification-bar-wrapper">
  <div class="online-notification-bar">
    <img src="https://vectr.com/wintersoil/a1gzED9FjB.svg?width=640&height=640&select=a1gzED9FjBpage0" height="70px" width="70px"/>
    <div class="inner-text">
      Imran is online now
    </div>
  </div>
</div>
