<div id="user_<%= usering.id %>" class:"background-green-online" >
  <div style="display:flex; align-items:center;">
    <%= image_tag(usering.profile_picture.to_s, width:'100', height:'100') %> <span style="font-size:25px;margin-left: 20px;"><%= usering.first_name + " " + usering.last_name %></span>
  </div>
</div>
